.bg-image {
    background-image: url('media/pixel-hills-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
 }

h2 {
    text-align: center;
}

label {
    display: block;
    text-align: center;
}

input {
    display: block;
    margin: auto;
}

button {
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    width: 100px;
}