.bg-image {
    background-image: url('media/pixel-hills-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
 }

#incubationText {
    display: none
}

h2 {
    text-align: center;
}

label {
    display: block;
    text-align: center;
}

input {
    display: block;
    margin: auto;
}

#egg-picker-clicker {
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    width: 100px;
    padding: 5%;
}

#statusBar1, #statusBar2, #statusBar3 {
    display: block;
    width: 100px;
    height: 20px;
    background-color: black;
    border: 1px solid black;
    box-sizing: border-box;
}

/* #statusBar2 {
    width: 100px;
    height: 20px;
    background-color: black;
}

#statusBar3 {
    width: 100px;
    height: 20px;
    background-color: black;
} */